<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid80" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.Palette" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms.Pages" version="2.4.0.282" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="monoandroid71" />
</packages>